<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529630118134-80slv7607vgcdgv6q4mou7aeggbjoa2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529630118134-80slv7607vgcdgv6q4mou7aeggbjoa2f</string>
	<key>API_KEY</key>
	<string>AIzaSyBniAQuePEojBsXtwRe2fP2MVBWIb5X-uY</string>
	<key>GCM_SENDER_ID</key>
	<string>529630118134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.niransnarayanan</string>
	<key>PROJECT_ID</key>
	<string>niransnarayanan-web</string>
	<key>STORAGE_BUCKET</key>
	<string>niransnarayanan-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529630118134:ios:39c63be7e8f9be1ca0acd7</string>
</dict>
</plist>